# Core ML & Deep Learning
tensorflow
keras

# Data processing
numpy
pandas
scikit-learn

# Image processing
opencv-python
Pillow
imutils
tqdm

# Visualization
matplotlib
seaborn
plotly

# Streamlit
streamlit

# Explainability / interpretability
lime
shap
